/*웹폰트 불러오기*/
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html > body {
  font-family: "GmarketSansMedium";
  color: #333;
  text-underline-position: under;
  /*text-decoration: underline은 텍스트와 밑줄이 너무 딱 붙기 때문에*/
  /*text-underline-position: under 사용*/
  line-height: 1.3;
}
